* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(5, 25, 80);
    color: white;
}

#container {
    display: flex;
    justify-content: center;
}

#main-header {
    margin-top: 10vh;
    width: 50vw;
    height: 80vh;
    border: 2px solid red;
    justify-content: center;
    flex-direction: column;
}

h1 {
    border: 2px solid red;
}