@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --darker-text: rgba(202, 195, 218, 0.801);
}

.gradient {
    background: radial-gradient(circle, #273463b4 18%, #8b4255b4 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif !important;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
}

.navbar {
    margin: 0.3rem;
}

.navbar-nav ul {
    justify-content: center !important;
}

ul {}

.form-control {
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: 0 !important;
    color: white !important;
}

.search-button {
    border-radius: 0 !important;
}

.website-title {
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.815);
}

.main-container>.col {
    height: 70vh;
}

.current-weather-container {
    height: 100%;
}

#current-weather {
    color: white;
    padding: 1rem;
    margin: 0.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.forecast-icon-container {
    flex-grow: 2;
}

#location-name {
    margin: auto;
    font-size: 2rem;
    flex-shrink: 1;
}

#coords {
    margin: auto;
    color: var(--darker-text);
    flex-shrink: 1;
}

#forecast-temperature {
    font-size: 2.5rem;
    margin: auto;
    flex-shrink: 1;
}

.rest-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.rest-data {
    display: flex;
}

.rest-data .data-name {
    width: 50%;
}