@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.website-title {
    font-family: 'Righteous';
    font-size: 3em;
    color: rgb(255, 187, 0);
    letter-spacing: 0.1em;
}

.main-container-row>.col {
    min-height: 60vh;
}

#location {
    margin: auto;
    font-family: 'Righteous';
}

#forecast-temperature {
    font-size: 32px;
    font-weight: 300;
}

#location-name {
    font-size: 32px;
    font-weight: 300;
}

#current-weather {
    background-color: rgb(0, 110, 255);
    color: white;
    padding: 1rem;
    height: 100%;
}