@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
* {
    box-sizing: border-box;
}

.gradient {
    background: radial-gradient(circle, rgba(39, 52, 99, 0.705) 18%, rgba(139, 66, 85, 0.705) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif !important;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
}

.navbar {
    margin: 0.3rem;
}

.navbar-nav ul {
    justify-content: center !important;
}

ul {}

.form-control {
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: 0 !important;
}

.search-button {
    border-radius: 0 !important;
}

.website-title {
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.815);
}

.main-container>.col {
    height: 70vh;
}

#location {
    margin: auto;
}

#forecast-temperature {
    font-size: 32px;
}

#location-name {
    font-size: 32px;
}

#current-weather {
    color: white;
    padding: 1rem;
    margin: 0.3rem;
    margin-right: 0.3rem;
    flex-grow: 1;
}