#seven-days {
    height: 100%;
}

.day {
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem;
    flex-grow: 1;
    display: flex;
}

.day>* {
    align-items: center;
    padding: 0.5rem;
}

.day-name {
    width: 20%;
}

.forecast-icon {
    align-items: center;
    padding: 0;
    width: 5%;
}

.day-temp {
    justify-content: center;
    width: 20%;
}

.night-temp {
    justify-content: center;
    width: 60%;
}