#seven-days {
    height: 100%;
}

.day {
    width: 100%;
    flex-grow: 1;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    max-height: 10vh;
}

.day>* {
    display: flex;
    align-items: center;
}

#seven-days #day-1 {}

.day-name {}

.day-temp {
    justify-content: center;
}

.night-temp {
    justify-content: center;
}

.forecast-icon {
    align-items: center;
}