{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/air_pollution.css') }}"> {% endblock %} {% block body %}
<div id="air-pollution" class="col d-flex flex-column">
    <div class="row flex-grow-2">
        <div class="col">
            <div id="air-quality" class="gradient"></div>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col d-flex">
            <div id="co"class="particle gradient">
                <div class="particle-short-name">
                    CO
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>

            </div>
            <div id="no" class="particle gradient">
                <div class="particle-short-name">
                    NO
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>
            </div>
            <div id="no2"class="particle gradient">
                <div class="particle-short-name">
                    NO<sub>2</sub>
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>
            </div>
            <div id="o3"class="particle gradient">
                <div class="particle-short-name">
                    O<sub>3</sub>
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>
            </div>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col d-flex">
            <div id="so2" class="particle gradient">
                <div class="particle-short-name">
                    SO<sub>2</sub>
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>
            </div>
            <div id="pm2_5"class="particle gradient">
                <div class="particle-short-name">
                    PM<sub>2.5</sub>
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>
            </div>
            <div id="pm10" class="particle gradient">
                <div class="particle-short-name">
                    PM<sub>10</sub>
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>
            </div>
            <div id="nh3"class="particle gradient">
                <div class="particle-short-name">
                    NH<sub>3</sub>
                </div>
                <div class="particle-long-name">
                </div>
                <div  class="particle-value"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %} {% block js %}
<script type=text/javascript src="{{url_for('static', filename='js/air_pollution.js') }}"></script>
{% endblock %}